@media screen and (max-width: 300px) {
   
    * {
        font-family: lucida;
    }
    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
    }
    p {
        color: rgb(255, 255, 255);
        font-family: lucida;
        font-size: 20px;
    }
    p {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
    }
    .title4 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 20px;
    }
    #VIDEO {
        aspect-ratio: 16/9;
      
        height: auto;
        margin: auto;
        box-align: center;
        display: block;
    }
}
